<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Purchase Test List</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
            <super-tabs class="innertabs" transitionDuration="100" sideMenuThreshold="100" shortSwipeDuration="100" dragThreshold="100" allowElementScroll="true" scrollTabs="true" (tabSelect)="onTabSelect($event)" tabsPlacement="top" toolbarBackground="primary" toolbarColor="light" indicatorColor="light">
                  <super-tab *ngFor="let p of items" [root]="NewsPage" [title]="p.name" [id]="p.id"></super-tab>
                </super-tabs>
      </ion-toolbar>
    </ion-header>
    <ion-content overflow-scroll='true' padding class="bgbody">
        <ion-refresher (ionRefresh)="forceReload($event)">
            <ion-refresher-content>
            </ion-refresher-content>
          </ion-refresher>
          <div *ngIf="loader==1">
            <div class="showbox">
                <div class="loader">
                  <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"/>
                  </svg>
                </div>
              </div>
        </div>
  
        <div *ngIf="loader!=1" style="padding: 0px; min-height:100%;" (swipe)="slideToIndex($event)">
            <div text-center padding *ngIf="datacountlist<=0">
                <img src="assets/imgs/no-cartitems.png" width="100%" />
                <h4>"Your Purchase is Empty !!! Add some items to purchase"</h4>
                <button ion-button tappable (click)="openhome()">Continue Shopping</button>
            </div>
            
            <ion-grid>
                  <ion-row>
                      <ion-col col-6 *ngFor="let item of datalistitems">
                          <div class="postcard" text-center>
                              <header tappable (click)="itemSelected(item)">
                                  <div class="bio cusbio">
                                      <img [src]="getSafeUrl(item.image)" alt="Product">
                                  </div>
                                  <h3 class="product-title blackbtn" style="position: relative;z-index: 10;height: 26px;margin:0px;overflow:hidden">
                                      {{item.title}}
                                  </h3>
                              </header>
                              <div class="content">
                                  <div class="product-buttons">
                                      <button ion-button icon-start tappable (click)="itemSelected(item)">
                                          <ion-icon name='eye' is-active="false"></ion-icon>
                                          View Package
                                      </button>
                                  </div>
                              </div>
                          </div>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </div>
    
    
    
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
            </ion-infinite-scroll>
    </ion-content>