<ion-header>
    <ion-navbar color="primary">
      <ion-title>Bookmark Questions</ion-title>
    </ion-navbar>
    <ion-toolbar color="primary">
      <ion-segment color="light" [(ngModel)]="types" >
        <ion-segment-button value="1" (ionSelect)="changeTab(1)">
          Test Series
        </ion-segment-button>
        <ion-segment-button value="2" (ionSelect)="changeTab(2)">
          Daily Test
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-header>
  
  <ion-content overflow-scroll='true' padding>
    <div *ngIf="loader==1">
      <div class="showbox">
          <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"/>
            </svg>
          </div>
        </div>
  </div>

  <div *ngIf="loader!=1" style="padding: 0px; min-height:100%;" (swipe)="slideToIndex($event)">
          <div *ngFor="let item of datalistitems">
          <div class="postcard animated bounceIn" style="margin-bottom:5px;border-radius: 0px;overflow:hidden" no-padding text-center>
              <div class="mocktype"></div>
              <div class="content" no-padding>
                  <ion-grid>
                  <ion-row>
                  <ion-col col-12 tappable (click)="itemSelected(item)">
                      <div text-wrap [innerHTML]="transform(item.ques)" text-left></div>
                  </ion-col>
                  <ion-col col-12 text-right>
                      <button ion-button color="danger" icon-start tappable (click)="itemDeleted(item)">
                          <ion-icon name="trash"></ion-icon>
                          Remove
                        </button>
                  </ion-col>
                  </ion-row>
                  </ion-grid>
              </div>
          </div>
          </div>
        </div>
        
          <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
  </ion-content>
  