page-viewvideos {
    .resp-iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    .resp-container {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }
    .onplayover{
        width: 30%;
        position: absolute;
        top: 24%;
        left: 35%;
    }

        h6{
            font-size: 13px !important;
            margin-top: 1px;
        }
        .innerimg {
            width: 94%;
        }   
        .label-md,.list-md{
            margin: 0px;
        }
        .item-md {
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 3px;
        }
        .cardpads:after {
            content: "";
            position: absolute;
            left: 4%;
            z-index: 100;
            top: 20%;
            width: 3px;
            height: 60%;
            background: #519fe8;
          }
          .cardpadsred:after {
            content: "";
            position: absolute;
            left: 4%;
            z-index: 100;
            top: 20%;
            width: 3px;
            height: 60%;
            background: #fa6767;
          }
          .cardpadsgreen:after {
            content: "";
            position: absolute;
            left: 4%;
            z-index: 100;
            top: 20%;
            width: 3px;
            height: 60%;
            background: #1c9373;
          }
          .cardpadsred:after {
            content: "";
            position: absolute;
            left: 4%;
            z-index: 100;
            top: 20%;
            width: 3px;
            height: 60%;
            background: #fa6767;
          }
        ion-list{
            background: #fff;
        }
        .marginheader {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            text-align: left;
            font-weight: bold;
            font-size: 15px;
        }
        .toolbar-md {
            min-height: 44px !important;
        }
}
