page-postdetails {
    .scroll-content {
        padding:0px !important;
    }
    .text-muted {
        color: #9da9b9!important;
    } 
    .text-normal {
        font-weight: 400!important;
    }
    table { 
        border: 1px solid #ccc;
        padding: 1px 
  }

td { 
            border: 1px solid #ccc;
            margin: 1;
    }
}
